<!-- Page Content -->
<div class="container mt-3">
    <p class="font-weight-light text-center text-lg-left mt-4 mb-0">
      Generated reports or scanned reports can be viewed or deleted here in the
      scanner module.
    </p>
  
    <hr class="mt-2 mb-5" />
  
    <div class="row text-center text-lg-left">
      <div class="col-lg-3 col-md-4 col-6">
        <a href="#" class="d-block mb-4 h-100">
          <img [routerLink]="'viewfile'" routerLinkActive="active"
            class="img-fluid img-thumbnail"
            src="/assets/rep1.jpg"
            alt=""
          />
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <a href="#" class="d-block mb-4 h-100">
          <img
            class="img-fluid img-thumbnail"
            src="/assets/rep.jpg"
            alt=""
          />
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <a href="#" class="d-block mb-4 h-100">
          <img
            class="img-fluid img-thumbnail"
            src="/assets/rep1.jpg"
            alt=""
          />
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <a href="#" class="d-block mb-4 h-100">
          <img
            class="img-fluid img-thumbnail"
            src="/assets/rep.jpg"
            alt=""
          />
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <a href="#" class="d-block mb-4 h-100">
          <img
            class="img-fluid img-thumbnail"
            src="/assets/rep.jpg"
            alt=""
          />
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <a href="#" class="d-block mb-4 h-100">
          <img
            class="img-fluid img-thumbnail"
            src="/assets/rep1.jpg"
            alt=""
          />
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <a href="#" class="d-block mb-4 h-100">
          <img
            class="img-fluid img-thumbnail"
            src="/assets/rep.jpg"
            alt=""
          />
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <a href="#" class="d-block mb-4 h-100">
          <img
            class="img-fluid img-thumbnail"
            src="/assets/rep1.jpg"
            alt=""
          />
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <a href="#" class="d-block mb-4 h-100">
          <img
            class="img-fluid img-thumbnail"
            src="/assets/rep.jpg"
            alt=""
          />
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <a href="#" class="d-block mb-4 h-100">
          <img
            class="img-fluid img-thumbnail"
            src="/assets/rep.jpg"
            alt=""
          />
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <a href="#" class="d-block mb-4 h-100">
          <img
            class="img-fluid img-thumbnail"
            src="/assets/rep.jpg"
            alt=""
          />
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <a href="#" class="d-block mb-4 h-100">
          <img
            class="img-fluid img-thumbnail"
            src="/assets/rep1.jpg"
            alt=""
          />
        </a>
      </div>
    </div>
  </div>
  