.bg-gray5 {
    background-color: #181818;
    height: 100vh;
    overflow: auto;
  }
  .bg-white {
    background-color: white;
    border-top: solid #c6c6c5 1px;
    border-bottom: solid #c6c6c5 1px;
  }
  .right {
    height: 100vh;
    overflow: auto;
  }
  .head {
    background-color: #2e2d2d;
    height: 50px;
    color: white;
    text-align: center;
  }
  .card-body li {
    font-size: 14px;
  }
  .card-body li:hover {
    background-color: #2177eb;
    color: white;
  }
  .card a {
    font-size: 12px;
  }
  
  .navbar a img {
    height: 25px;
    width: 25px;
  }
  .bg-dark1 {
    background-color: #222222;
 
  }
  
  .navbar a img {
    height: 25px;
    width: 25px;
  }
  .navbar {
    max-height: 40px;
    box-shadow: 0px 10px 10px -15px #111;
  }
  .navbar a {
    color: #2e2d2d;
    font-size: 13px;
  }
  .navbar a:hover {
    color: #1289f8;
  }
  span {
    color: white;
  }
  
  .underline {
    border-bottom: #1289f8 solid;
  }
  
  .panelbox {
      border-bottom: solid #393A39  1px;
  }
  .panelbox a{
    color: #1289f8;
    font-size: 15px;
    text-align: center;
  }
  .table td{
    background-color: #2B2B2B ;
    color: #C2C1C1 ;
    font-size: 12px
  
  }
  .table td:hover{
    color: #4FFC52 ;
    background-color: #181818 
  
  }
  .nav-item a{
    background-color: white;
  }
  .panel-title img{
    max-width: 20px;
    margin: 10px;
  }
  .panel:hover{
  /* background-color: #2C2C2C; */
  background-color: #2C2C2C;
  }
  .active{
    background-color: #2C2C2C;


  }
