<app-header></app-header>


  
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-md-6 col-lg-4 col-xl-2 bg-dark1">
        <div class="panel-group mt-3">
          <div class="panel panel-default " routerLink="/dashboard" routerLinkActive="active">
            <div class="panel-heading panelbox">
              <p class="panel-title">
                <a><img src="/assets/dash.png" alt="" />Dashboard</a>
              </p>
            </div>
          </div>
          <div class="panel panel-default" routerLink="/reports" routerLinkActive="active">
            <div class="panel-heading panelbox">
              <p class="panel-title">
                <a><img src="/assets/report.png" alt="" />Reports</a>
              </p>
            </div>
          </div>
          <div class="panel panel-default" routerLink="/insertdata" routerLinkActive="active">
            <div class="panel-heading panelbox">
              <p class="panel-title">
                <a><img src="/assets/insert.png" alt="" />Insert Data</a>
              </p>
            </div>
          </div>
          <div class="panel panel-default" routerLink="/manageusers" routerLinkActive="active">
            <div class="panel-heading panelbox">
              <p class="panel-title">
                <a><img src="/assets/mu.png" alt="" />Manage Users</a>
              </p>
            </div>
          </div>
          <div class="panel panel-default" routerLink="/scanner" routerLinkActive="active">
            <div class="panel-heading panelbox">
              <p class="panel-title">
                <a><img src="/assets/scanner.png" alt=""/>Scanner</a>
              </p>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading panelbox">
              <p class="panel-title">
                <a><img src="/assets/pro.png" alt=""/>Programs</a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-9 col-md-6 col-lg-8 col-xl-10 right">
        <div class="container-flex">
          <div class="container-fluid">
              <router-outlet></router-outlet>
          </div>
          
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>



