<nav class="navbar navbar-expand-lg navbar-light bg-light usersnav">
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="''" routerLinkActive="active"
                >Dashboard</a
              >
            </li>
          </ul>
        </div>
      </nav>
      <div class="container-fluid mt-3">
          <div class="container annualgraph" >
              <div>
                <div style="display: block">
                  <canvas baseChart 
                    [datasets]="barChartData"
                    [labels]="barChartLabels"
                    [options]="barChartOptions"
                    [colors]="barChartColors"
                    [legend]="barChartLegend"
                    [chartType]="barChartType">
                  </canvas>
                </div>
                <!-- <button mat-button (click)="randomize()">Update</button> -->
              </div>
            </div>
          <router-outlet></router-outlet>
      </div>
